numpy
soundfile
librosa
dataclasses
transformers==4.46.3
bitsandbytes==0.44.1
datasets
evaluate
ctranslate2
faster-whisper
jiwer
peft==0.13.2
accelerate==1.0.1
triton==2.3.0
zhconv
tqdm
soundcard
uvicorn
fastapi
starlette
tensorboardX
python-multipart
funasr==1.2.6
pydub
websocket
gpustat
torchvision==0.18.0
torchaudio==2.3.0
torch==2.3.0